@{
    ViewBag.Title = "الصفحة الرئيسية";
}

<div class="container-fluid mt-5 ">
    <h2 class="display-4 text-primary">مرحبًا بك في نظام إدارة المشروعات</h2>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="lead text-justify">
                نظام إدارة المشروعات هو نظام يهدف إلى تسهيل إدارة مشاريعك بشكل فعال. يوفر النظام واجهة سهلة الاستخدام لتتبع حالة العطاءات، تقديم العروض، إدارة التعاقدات، والمزيد.
            </p>
            <p class="lead text-justify">
                سواء كنت مقاولًا، مالكًا، أو مديرًا، يمكنك الاعتماد على نظام إدارة المشروعات لتسهيل عملياتك وتحسين أداء مشاريعك.
            </p>
        </div>
    </div>
</div>
